*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgs{
    background: url(../img/Layer_1.png);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    text-align: center;
}